[Unit]
Description=websocket receiver/sender daemon
After=network.target

[Service]
User=dan
Group=dan

WorkingDirectory=/home/dan/hangar
ExecStart=/home/dan/.virtualenvs/hangar/bin/python manage.py runscript server-websocket-receiver

[Install]
WantedBy=multi-user.target






[program:madwreckindolls]
command=/home/mwd/.virtualenvs/mwd/bin/gunicorn mwd.wsgi:application -c /home/mwd/madwreckindolls.com/mwd/gunicorn.conf.py
directory=/home/mwd/madwreckindolls.com/
user=mwd
autostart=true
autorestart=true
redirect_stderr=true